<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Service</title>

  <!-- Favicons -->
  <link href="../../static/img/favicon.png" th:href="@{/img/favicon.png}" rel="icon">
  <link href="../../static/img/apple-touch-icon.png" th:href="@{/img/apple-touch-icon.png}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../static/vendor/bootstrap/css/bootstrap.min.css"
        th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link href="../../static/vendor/bootstrap-icons/bootstrap-icons.css"
        th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
  <link href="../../static/vendor/boxicons/css/boxicons.min.css" th:href="@{/vendor/boxicons/css/boxicons.min.css}"
        rel="stylesheet">
  <link href="../../static/vendor/quill/quill.snow.css" th:href="@{/vendor/quill/quill.snow.css}" rel="stylesheet">
  <link href="../../static/vendor/quill/quill.bubble.css" th:href="@{/vendor/quill/quill.bubble.css}"
        rel="stylesheet">
  <link href="../../static/vendor/remixicon/remixicon.css" th:href="@{/vendor/remixicon/remixicon.css}"
        rel="stylesheet">
  <link href="../../static/vendor/simple-datatables/style.css" th:href="@{/vendor/simple-datatables/style.css}"
        rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">

</head>


<body>
<form th:replace="fragments/navbar.html :: navbar"></form>

<form th:replace="fragments/navbar.html :: sidebar"></form>

<main id="main" class="main">

  <div class="pagetitle">
    <h1 th:text="${carService.name}">Oil change</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item"><a th:href="@{/services}">Services</a></li>
        <li class="breadcrumb-item"><a
            th:href="@{/services/{carServiceId}(carServiceId=${carService.carServiceId})}">Service</a></li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section profile">
    <div class="row">
      <div class="col-xl-4">

      </div>

      <div class="col-xl-12">

        <div class="card">
          <div class="card-body pt-3">
            <!-- Bordered Tabs -->
            <div th:unless="${#httpServletRequest.getParameter('error') == null}"
                 class="alert alert-danger alert-dismissible fade show" role="alert">
              <i class="bi bi-exclamation-octagon me-1"
                 th:text="${' ' + #httpServletRequest.getParameter('error')}"></i>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div><!-- Error -->
            <div th:unless="${#httpServletRequest.getParameter('success') == null}"
                 class="alert alert-success alert-dismissible fade show" role="alert">
              <i class="bi bi-check-circle me-1" th:text="${' ' + #httpServletRequest.getParameter('success')}"></i>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div><!-- Success -->
            <ul class="nav nav-tabs nav-tabs-bordered">

              <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#service-overview">
                  Overview
                </button>
              </li>
              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#service-edit">
                  Edit Service
                </button>
              </li>
            </ul>
            <div class="tab-content pt-2">
              <div class="tab-pane fade show active profile-overview" id="service-overview">

                <h5 class="card-title">Service Details</h5>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label ">Name</div>
                  <div class="col-lg-9 col-md-8"
                       th:text="${carService.name}">
                    Oil Change
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-md-4 label ">Price</div>
                  <div class="col-lg-9 col-md-8"
                       th:text="${carService.price + ' BGN'}">
                    20 BGN
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-md-4 label ">Status</div>
                  <div class="col-lg-9 col-md-8" th:unless="${carService.isActive()}"><span class="badge bg-danger">Inactive</span>
                  </div>
                  <div class="col-lg-9 col-md-8" th:if="${carService.isActive()}"><span
                      class="badge bg-success">Active</span></div>
                </div>
                <!-- Button Delete Car-->
                <div class="row">
                  <form class="col-sm-10" data-bs-toggle="modal" data-bs-target="#verticalycentered"
                        th:action="@{/services/{serviceId}/delete(serviceId=${carService.carServiceId})}" method="post">
                    <button type="button" class="btn btn-outline-danger">
                      Delete
                    </button>
                    <div class="modal fade" id="verticalycentered" tabindex="-1">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title">Are you certain?</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            Only <span class="text-danger">service</span> with <span
                              class="text-danger">NO visits</span>
                            can be deleted. Otherwise, all visits needs to be deleted first!
                          </div>
                          <div class="modal-footer">
                            <button type="submit" class="btn btn-outline-danger" data-bs-dismiss="modal">Delete</button>
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">No</button>
                          </div>
                        </div>
                      </div>
                    </div><!-- End Delete Car Modal-->
                  </form>
                </div>
              </div>
              <div class="tab-pane fade show service-edit" id="service-edit">

                <h5 class="card-title">Edit Service</h5>
                <form th:if="${isEmployee}"
                      th:action="@{/services/{serviceId}/update(serviceId=${carService.carServiceId})}"
                      th:object="${service}"
                      method="post">

                  <div class="row mb-3">
                    <label th:text="#{label.service.name}" for="Name"
                           class="col-md-4 col-lg-3 col-form-label">Name</label>
                    <br/>
                    <div class="col-md-8 col-lg-9">
                      <input name="Name" type="text" class="form-control" id="Name"
                             th:field="*{name}"/>
                    </div>
                    <label class="error" th:errors="*{name}">Name error placeholder</label>
                  </div>
                  <div class="row mb-3">
                    <label th:text="#{label.service.price}" for="Price"
                           class="col-md-4 col-lg-3 col-form-label">Price</label>
                    <br/>
                    <div class="col-md-8 col-lg-9">
                      <input type="number" min="1.00"
                             max="1000000.00"
                             class="form-control" id="Price"
                             th:field="*{price}" placeholder="1,020.50" step=".01">
                    </div>
                    <label class="error" th:errors="*{price}">Price error placeholder</label>
                    <br/><br/>
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary" value="Save Changes">Save Changes</button>
                  </div>
                </form><!-- End Service Edit Form -->
              </div>
            </div>
          </div>
        </div>
      </div><!-- End Bordered Tabs -->
    </div>
  </section>
  <!-- Services section -->
  <section th:unless="${carServices.isEmpty()}" class="section profile">
    <div class="row">
      <div class="col-xl-4">

      </div>

      <div class="col-12">

        <div class="card">
          <div class="card-body pt-3">
            <ul class="nav nav-tabs nav-tabs-bordered">
              <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#visits">
                  Visits
                </button>
              </li>
              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#services">
                  Services
                </button>
              </li>
            </ul>
            <div class="tab-content pt-2">
              <div class="tab-pane fade show active services" id="visits">
                <div class="card-body">
                  <h5 class="card-title">Visits <span>| List</span></h5>
                  <table class="table datatable">
                    <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Owner</th>
                      <th scope="col">Licence plate</th>
                      <th scope="col">CheckIn</th>
                      <th scope="col">Status</th>
                      <th scope="col">Total price</th>
                      <th scope="col">Remove</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="visit:${visits}">
                      <th scope="row">
                        <a th:href="@{/visits/{visitId}(visitId=${visit.visitId})}"
                           class="text-primary" th:text="${visitStat.count}">1</a></th>
                      <td class="text-primary"><a th:href="@{/customers/{userId}(userId=${visit.user.userId})}"
                                                  th:text="${visit.user.firstName+' '+visit.user.lastName}">Owner</a>
                      </td>
                      <td class="text-primary"><a th:href="@{/cars/{carId}(carId=${visit.car.carId})}"
                                                  th:text="${visit.car.licensePlate}">Licence plate</a></td>
                      <td th:text="${visit.showCheckInDate()}">CheckIn</td>
                      <td th:if="${visit.checkOut == null && visit.services.isEmpty()}"><span class="badge bg-secondary">Not started</span></td>
                      <td th:if="${visit.checkOut == null && !visit.services.isEmpty()}"><span class="badge bg-warning">In progress..</span></td>
                      <td th:unless="${visit.checkOut == null}"><span class="badge bg-success">Finished</span></td>
                      <td><span class="badge bg-success" th:text="${visit.totalPrice + ' ' + 'BGN'}">Total price</span></td>
                      <td><form th:if="${visit.checkOut==null}"
                                th:action="@{/services/{visitId}/remove/{serviceId}(visitId=${visit.visitId}, serviceId=${carService.carServiceId})}"
                                method="post">
                        <button type="submit" class="btn btn-outline-danger btn-sm" style="padding: .0rem .25rem">Remove
                        </button>
                      </form></td>
                    </tr>
                    </tbody>
                  </table>

                </div>
              </div>
              <div class="tab-pane fade services" id="services">
                <div class="card-body">
                  <h5 class="card-title">All Services <span>| List</span></h5>
                  <table class="table datatable">
                    <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">Price</th>
                      <th scope="col">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="carService:${carServices}">
                      <th scope="row">
                        <a th:href="@{/services/{serviceId}(serviceId=${carService.carServiceId})}"
                           class="text-primary" th:text="${carServiceStat.count}">1</a></th>
                      <td class="text-primary"><a
                          th:href="@{/services/{serviceId}(serviceId=${carService.carServiceId})}"
                          th:text="${carService.name}">Oil Change</a>
                      </td>
                      <td class="text-primary"
                          th:text="${#numbers.formatDecimal(carService.price, 0, 'COMMA', 2, 'POINT') + 'BGN'}">
                        30.50BGN
                      </td>
                      <td th:unless="${carService.isActive()}"><span class="badge bg-danger">Disabled</span></td>
                      <td th:if="${carService.isActive()}"><span class="badge bg-success">Active</span></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section><!-- End Service Section -->
</main><!-- End #main -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="../../static/vendor/apexcharts/apexcharts.min.js"
        th:src="@{/vendor/apexcharts/apexcharts.min.js}"></script>
<script src="../../static/vendor/bootstrap/js/bootstrap.bundle.min.js"
        th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script src="../../static/vendor/chart.js/chart.min.js" th:src="@{/vendor/chart.js/chart.min.js}"></script>
<script src="../../static/vendor/echarts/echarts.min.js" th:src="@{/vendor/echarts/echarts.min.js}"></script>
<script src="../../static/vendor/quill/quill.min.js" th:src="@{/vendor/quill/quill.min.js}"></script>
<script src="../../static/vendor/simple-datatables/simple-datatables.js"
        th:src="@{/vendor/simple-datatables/simple-datatables.js}"></script>
<script src="../../static/vendor/tinymce/tinymce.min.js" th:src="@{/vendor/tinymce/tinymce.min.js}"></script>
<script src="../../static/vendor/php-email-form/validate.js" th:src="@{/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script src="../../static/js/main.js" th:src="@{../js/main.js}"></script>


</body>
</html>