<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Create Service</title>

  <!-- Vendor CSS Files -->
  <link href="../../static/vendor/bootstrap/css/bootstrap.min.css"
        th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link href="../../static/vendor/bootstrap-icons/bootstrap-icons.css"
        th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
  <link href="../../static/vendor/boxicons/css/boxicons.min.css" th:href="@{/vendor/boxicons/css/boxicons.min.css}"
        rel="stylesheet">
  <link href="../../static/vendor/quill/quill.snow.css" th:href="@{/vendor/quill/quill.snow.css}" rel="stylesheet">
  <link href="../../static/vendor/quill/quill.bubble.css" th:href="@{/vendor/quill/quill.bubble.css}"
        rel="stylesheet">
  <link href="../../static/vendor/remixicon/remixicon.css" th:href="@{/vendor/remixicon/remixicon.css}"
        rel="stylesheet">
  <link href="../../static/vendor/simple-datatables/style.css" th:href="@{/vendor/simple-datatables/style.css}"
        rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
          integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
          crossorigin="anonymous">
  </script>
  <script>
      $(document).ready(function () {
          $("#brand_check").change(function () {
              sendAjaxRequest();
          });
      });

      function sendAjaxRequest() {
          var brand = $("#brand_check").val();
          $.get("/cars/models?brand=" + brand, function (data) {
              $("#model_check").empty();
              data.forEach(function (item) {
                  var option1 = "<li value = " + item + ">" + item + "</li>"
                  $("#model_check").append(option1)
              });
          });
      }
  </script>
</head>
<body>

<form th:replace="fragments/navbar.html :: navbar"></form>

<form th:replace="fragments/navbar.html :: sidebar"></form>

<main id="main" class="main">

  <div class="pagetitle">
    <h1>Brands and Models</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item"><a th:href="@{/brands}">Brands and Models</a></li>
      </ol>
    </nav>
  </div><!-- End Page Title -->


  <section class="section profile">
    <div class="row">
      <div class="col-xl-12">

        <div class="card">
          <div class="card-body pt-3">
            <!-- Bordered Tabs -->
            <div th:unless="${#httpServletRequest.getParameter('error') == null}"
                 class="alert alert-danger alert-dismissible fade show" role="alert">
              <i class="bi bi-exclamation-octagon me-1"
                 th:text="${' ' + #httpServletRequest.getParameter('error')}"></i>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div><!-- Error -->
            <div th:unless="${#httpServletRequest.getParameter('success') == null}"
                 class="alert alert-success alert-dismissible fade show" role="alert">
              <i class="bi bi-check-circle me-1" th:text="${' ' + #httpServletRequest.getParameter('success')}"></i>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div><!-- Success -->
            <ul class="nav nav-tabs nav-tabs-bordered">

              <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#first-tab">
                  Create
                </button>
              </li>

              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#second-tab">
                  Check Available
                </button>
              </li>

              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#third-tab">
                  Deactivate Brand
                </button>
              </li>

              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#fourth-tab">
                  Deactivate Model
                </button>
              </li>

            </ul>

            <div class="tab-content pt-2">

              <div class="tab-pane fade show active profile-overview" id="first-tab">
                <h5 class="card-title"></h5>

                <form th:action="@{__${#httpServletRequest.requestURI}__/create}" th:object="${brandModelDto}"
                      method="post">

                  <div class="row mb-3">
                    <label for="brand" class="col-sm-2 col-form-label">Brand</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" id="brand"
                             th:field="*{brandName}" placeholder="Brand name">
                    </div>
                  </div>
                  <label class="alert alert-danger" th:errors="*{brandName}">Brand error placeholder</label>

                  <br>
                  <div class="row mb-3">
                    <label for="model" class="col-sm-2 col-form-label">Model</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" id="model"
                             th:field="*{modelName}" placeholder="Model name">
                    </div>
                  </div>
                  <label class="alert alert-danger" th:errors="*{modelName}">Model error placeholder</label>
                  <br>
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary" value="Save">Save entry</button>
                  </div>
                </form><!-- End Create Brand and Model Form -->

              </div>

              <div class="tab-pane fade profile-edit pt-3" id="second-tab">
                <h5 class="card-title"></h5>

                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">Brand</label>
                  <div class="col-sm-4">
                    <select class="form-control" id="brand_check">
                      <option th:disabled="disabled" selected="selected" value="-- select brand --">-- select brand --
                      </option>
                      <option th:each="brand : ${brands}"
                              th:value="${brand.name}"
                              th:text="${brand.name}">Brand
                      </option>
                    </select>
                  </div>
                  <br>
                </div>

                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">Model</label>
                  <div class="col-sm-4">
                    <ul id="model_check">

                    </ul>
                  </div>
                  <br>
                </div>
              </div>

              <div class="tab-pane fade pt-3" id="third-tab">
                <h5 class="card-title"></h5>

                <form th:action="@{/brands/delete/brand}" method="post">
                  <div class="row mb-3">
                    <label for="brand" class="col-sm-2 col-form-label">Brand</label>
                    <div class="col-sm-4">
                      <select name="brandName" class="form-control" id="brand_remove">
                        <option th:disabled="disabled" selected="selected" value="-- select brand --">-- select brand --
                        </option>
                        <option th:each="brand : ${brands}"
                                th:value="${brand.name}"
                                th:text="${brand.name}">Brand
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary" >Deactivate Brand</button>
                  </div>
                </form><!-- End Delete Brand Form -->

              </div>

              <div class="tab-pane fade pt-3" id="fourth-tab">
                <h5 class="card-title"></h5>

                <form th:action="@{/brands/delete/model}" method="post">
                  <div class="row mb-3">
                    <label for="model" class="col-sm-2 col-form-label">Model</label>
                    <br>
                    <div class="col-sm-4">
                      <select name="modelName" class="form-control" id="model_remove">
                        <option th:disabled="disabled" selected="selected" value="-- select model --">-- select model --
                        </option>
                        <option th:each="model : ${models}"
                                th:value="${model.name}"
                                th:text="${model.name}">Model
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary" value="Save">Deactivate Model</button>
                  </div>
                </form><!-- End Delete Model Form -->

              </div>
            </div><!-- End Bordered Tabs -->
          </div>
        </div>
      </div>
    </div>
  </section>

</main>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="../../static/vendor/apexcharts/apexcharts.min.js"
        th:src="@{/vendor/apexcharts/apexcharts.min.js}"></script>
<script src="../../static/vendor/bootstrap/js/bootstrap.bundle.min.js"
        th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script src="../../static/vendor/chart.js/chart.min.js" th:src="@{/vendor/chart.js/chart.min.js}"></script>
<script src="../../static/vendor/echarts/echarts.min.js" th:src="@{/vendor/echarts/echarts.min.js}"></script>
<script src="../../static/vendor/quill/quill.min.js" th:src="@{/vendor/quill/quill.min.js}"></script>
<script src="../../static/vendor/simple-datatables/simple-datatables.js"
        th:src="@{/vendor/simple-datatables/simple-datatables.js}"></script>
<script src="../../static/vendor/tinymce/tinymce.min.js" th:src="@{/vendor/tinymce/tinymce.min.js}"></script>
<script src="../../static/vendor/php-email-form/validate.js" th:src="@{/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script src="../../static/js/main.js" th:src="@{../js/main.js}"></script>

</body>
</html>