<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Navbar</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicons -->
    <link href="../../static/img/favicon.png" th:href="@{/img/favicon.png}" rel="icon">
    <link href="../../static/img/apple-touch-icon.png" th:href="@{/img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

</head>
<body>
<!-- ======= Header ======= -->
<header th:fragment="navbar" id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <a th:href="@{/}" class="logo d-flex align-items-center">
            <img src="../../static/img/logo.png" th:src="@{/img/logo.png}">
            <span class="d-none d-lg-block">PitStop Service</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
        <form class="search-form d-flex align-items-center" method="POST" action="#">
            <input type="text" name="query" placeholder="Search" title="Enter search keyword">
            <button type="submit" title="Search"><i class="bi bi-search"></i></button>
        </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">

            <li th:if="${isAuthenticated}" class="nav-item dropdown pe-3">

                <a class="nav-link nav-profile d-flex align-items-center pe-0"
                   th:href="@{/customers/{userId}(userId=${loggedInUser.userId})}">
                    <span class="d-none d-md-block ps-2"
                          th:text="${loggedInUser.firstName.substring(0,1) + '.' + loggedInUser.lastName}">K. Anderson</span>
                </a><!-- End Profile Iamge Icon -->
            </li><!-- End Profile Nav -->

        </ul>
    </nav><!-- End Icons Navigation -->

</header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside th:fragment="sidebar" id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link" th:href="@{/}">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li th:if="${isEmployee}" class="nav-item">
            <a class="nav-link " th:href="@{/customers}">
                <i class="bi bi-person"></i><span>Customers</span>
            </a>

        </li><!-- End Users Nav -->

        <li th:if="${isEmployee}" class="nav-item">
            <a class="nav-link" th:href="@{/cars}">
                <i class="bx bxs-car-mechanic"></i><span>Cars</span>
            </a>
        </li><!-- End Cars Nav -->

        <li th:if="${isEmployee}" class="nav-item">
            <a class="nav-link" th:href="@{/services}">
                <i class="bx bxs-wrench"></i><span>Services</span>
            </a>
        </li><!-- End Services Nav -->

        <li th:if="${isEmployee}" class="nav-item">
            <a class="nav-link" th:href="@{/visits}">
                <i class="bi bi-calendar-date-fill"></i><span>Visits</span>
            </a>
        </li><!-- End Visits Nav -->

        <li class="nav-heading">Pages</li>

        <li th:if="${isAuthenticated}" class="nav-item">
            <a class="nav-link collapsed" th:href="@{/customers/{userId}(userId=${loggedInUser.userId})}">
                <i class="bi bi-person"></i>
                <span>Profile</span>
            </a>
        </li>

        <li th:if="${isEmployee}" class="nav-item">
            <a class="nav-link collapsed" th:href="@{/employee/register}">
                <i class="bi bi-person-plus-fill"></i>
                <span>New Employee</span>
            </a>
        </li>


        <li th:if="${isEmployee}" class="nav-item">
            <a class="nav-link collapsed" th:href="@{/customer/register}">
                <i class="bi bi-person-plus"></i>
                <span>New Customer</span>
            </a>
        </li>

        <li th:if="${isEmployee}" class="nav-item">
            <a class="nav-link collapsed" th:href="@{/cars/create}">
                <i class="bx bx-car"></i>
                <span>New Car</span>
            </a>
        </li>

        <li th:if="${isEmployee}" class="nav-item">
            <a class="nav-link collapsed" th:href="@{/brands}">
                <i class="bx bx-layer-plus"></i>
                <span>Brands and Models</span>
            </a>
        </li>

        <li th:if="${isEmployee}" class="nav-item">
            <a class="nav-link collapsed" th:href="@{/services/create}">
                <i class="bx bx-wrench"></i>
                <span>New Service</span>
            </a>
        </li>

        <li th:if="${isEmployee}" class="nav-item">
            <a class="nav-link collapsed" th:href="@{/visits/create}">
                <i class="bi bi-calendar-plus"></i>
                <span>New Visit</span>
            </a>
        </li>

        <li th:if="${isAuthenticated}" class="nav-item">
            <a class="nav-link collapsed" th:href="@{/logout}">
                <i class="bi bi-box-arrow-in-left"></i>
                <span>Logout</span>
            </a>
        </li><!-- End Login Page Nav -->
    </ul>

</aside><!-- End Sidebar-->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center">
    <i class="bi bi-arrow-up-short"></i></a>

</body>
</html>

