<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Create Visit</title>

    <!-- Vendor CSS Files -->
    <link href="../../static/vendor/bootstrap/css/bootstrap.min.css"
          th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link href="../../static/vendor/bootstrap-icons/bootstrap-icons.css"
          th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link href="../../static/vendor/boxicons/css/boxicons.min.css" th:href="@{/vendor/boxicons/css/boxicons.min.css}"
          rel="stylesheet">
    <link href="../../static/vendor/quill/quill.snow.css" th:href="@{/vendor/quill/quill.snow.css}" rel="stylesheet">
    <link href="../../static/vendor/quill/quill.bubble.css" th:href="@{/vendor/quill/quill.bubble.css}"
          rel="stylesheet">
    <link href="../../static/vendor/remixicon/remixicon.css" th:href="@{/vendor/remixicon/remixicon.css}"
          rel="stylesheet">
    <link href="../../static/vendor/simple-datatables/style.css" th:href="@{/vendor/simple-datatables/style.css}"
          rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">

</head>
<body>

<form th:replace="fragments/navbar.html :: navbar"></form>

<form th:replace="fragments/navbar.html :: sidebar"></form>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Visit create</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                <li class="breadcrumb-item"><a th:href="@{/visits}">Visits</a></li>
                <li class="breadcrumb-item"><a th:href="@{/visits/create}">Visit create</a></li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h1></h1>
                        <!-- Create Visit Form -->
                        <form th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${newVisit}"
                              method="post">

                            <div class="row mb-3">
                                <label for="CheckInDate" class="col-sm-2 col-form-label">Check-in Date</label>
                                <div class="col-sm-4">
                                    <input type="datetime-local" class="form-control" id="CheckInDate"
                                           th:field="*{checkInDate}">
                                </div>
                            </div>
                            <label class="error" th:errors="*{checkInDate}">Check-in date error placeholder</label>
                            <br>
                            <div class="row mb-3">
                                <label for="CheckOutDate" class="col-sm-2 col-form-label">Check-out Date</label>
                                <div class="col-sm-4">
                                    <input type="datetime-local" class="form-control" id="CheckOutDate"
                                           th:field="*{checkOutDate}">
                                </div>
                            </div>
                            <label class="error" th:errors="*{checkOutDate}">Check-out date error placeholder</label>
                            <br>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Car</label>
                                <div class="col-sm-4">
                                    <select class="form-select" id="cars" th:field="*{carId}">
                                        <option th:each="car : ${cars}"
                                                th:value="${car.carId}"
                                                th:text="${car.licensePlate}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <label class="error" th:errors="*{carId}">Year error placeholder</label>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Owner</label>
                                <div class="col-sm-4">
                                    <select class="form-select" id="models" th:field="*{userId}">
                                        <option th:each="user : ${users}"
                                                th:value="${user.userId}"
                                                th:text="${user.firstName + ' ' + user.lastName}">The answer
                                        </option>
                                    </select>
                                </div>
                                <br>
                            </div>
                            <label class="error" th:errors="*{userId}">Model error placeholder</label>
                            <div class="row mb-3">
                                <label class="col-form-label col-sm-2 pt-0">Checkboxes</label>
                                <div class="col-sm-10">

                                    <div class="form-check" th:each="carService:${carServices}">
                                        <input class="form-check-input" type="checkbox" id="gridCheck1"
                                               th:field="*{servicesIds}" th:value="${carService.getCarServiceId()}">
                                        <label class="form-check-label" for="gridCheck1" th:text="${carService.name}">
                                            Example carService
                                        </label>
                                    </div>

                                </div>
                            </div>
                            <label class="error" th:errors="*{servicesIds}">Year error placeholder</label>
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary" value="Save">Create Visit</button>
                            </div>
                        </form><!-- End Create Visit Form -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="../static/vendor/apexcharts/apexcharts.min.js"
        th:src="@{/vendor/apexcharts/apexcharts.min.js}"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"
        th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script src="../static/vendor/chart.js/chart.min.js" th:src="@{/vendor/chart.js/chart.min.js}"></script>
<script src="../static/vendor/echarts/echarts.min.js" th:src="@{/vendor/echarts/echarts.min.js}"></script>
<script src="../static/vendor/quill/quill.min.js" th:src="@{/vendor/quill/quill.min.js}"></script>
<script src="../static/vendor/simple-datatables/simple-datatables.js"
        th:src="@{/vendor/simple-datatables/simple-datatables.js}"></script>
<script src="../static/vendor/tinymce/tinymce.min.js" th:src="@{/vendor/tinymce/tinymce.min.js}"></script>
<script src="../static/vendor/php-email-form/validate.js" th:src="@{/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script src="../../static/js/main.js" th:src="@{js/main.js}"></script>

</body>
</html>