<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Visit</title>

  <!-- Favicons -->
  <link href="../../static/img/favicon.png" th:href="@{/img/favicon.png}" rel="icon">
  <link href="../../static/img/apple-touch-icon.png" th:href="@{/img/apple-touch-icon.png}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../static/vendor/bootstrap/css/bootstrap.min.css"
        th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link href="../../static/vendor/bootstrap-icons/bootstrap-icons.css"
        th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
  <link href="../../static/vendor/boxicons/css/boxicons.min.css" th:href="@{/vendor/boxicons/css/boxicons.min.css}"
        rel="stylesheet">
  <link href="../../static/vendor/quill/quill.snow.css" th:href="@{/vendor/quill/quill.snow.css}" rel="stylesheet">
  <link href="../../static/vendor/quill/quill.bubble.css" th:href="@{/vendor/quill/quill.bubble.css}"
        rel="stylesheet">
  <link href="../../static/vendor/remixicon/remixicon.css" th:href="@{/vendor/remixicon/remixicon.css}"
        rel="stylesheet">
  <link href="../../static/vendor/simple-datatables/style.css" th:href="@{/vendor/simple-datatables/style.css}"
        rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">

</head>


<body>
<form th:replace="fragments/navbar.html :: navbar"></form>

<form th:replace="fragments/navbar.html :: sidebar"></form>

<main id="main" class="main">

  <div class="pagetitle">
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li th:if="${isEmployee}" class="breadcrumb-item"><a th:href="@{/visits}">Visits</a></li>
        <li class="breadcrumb-item"><a th:href="@{/visits/{visitId}(visitId=${visit.visitId})}">Visit</a></li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section profile">
    <div class="row">
      <div class="col-xl-4">

      </div>

      <div class="card">

        <div class="tab-pane fade show active profile-overview" id="profile-overview">

          <h5 class="card-title">Visit Details</h5>
          <div th:unless="${#httpServletRequest.getParameter('error') == null}"
               class="alert alert-danger alert-dismissible fade show" role="alert">
            <i class="bi bi-exclamation-octagon me-1"
               th:text="${' ' + #httpServletRequest.getParameter('error')}"></i>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div><!-- Error -->
          <div th:unless="${#httpServletRequest.getParameter('success') == null}"
               class="alert alert-success alert-dismissible fade show" role="alert">
            <i class="bi bi-check-circle me-1" th:text="${' ' + #httpServletRequest.getParameter('success')}"></i>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div><!-- Success -->
          <div class="row">
            <div class="col-lg-3 col-md-4"><!-- Send PDF file via email -->
              <form th:unless="${visit.checkOut == null}"
                    th:action="@{/visits/{visitId}/email/pdf(visitId=${visit.visitId})}" method="post">
                <input th:unless="${exchangeRate == null}" name="exchangeRate"
                       class="visually-hidden" type="text" th:value="${exchangeRate}">
                <input th:unless="${exchangeRate == null}" name="currency"
                       class="visually-hidden" type="text" th:value="${currency}">
                <button class="btn btn-outline-success" type="submit"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Send PDF file via email">
                  <i class="ri ri-mail-send-line"></i>
                </button>
              </form>
            </div><!-- END Send PDF file via email -->
            <div class="col-lg-3 col-md-4 label"><!-- Download PDF file -->
              <form th:unless="${visit.checkOut == null}" th:target="_blank"
                    th:action="@{/visits/{visitId}/pdf(visitId=${visit.visitId})}" method="get">
                <input th:unless="${exchangeRate == null}" name="exchangeRate"
                       class="visually-hidden" type="text" th:value="${exchangeRate}">
                <input th:unless="${exchangeRate == null}" name="currency"
                       class="visually-hidden" type="text" th:value="${currency}">
                <button class="btn btn-outline-secondary" type="submit" data-bs-toggle="tooltip"
                        data-bs-placement="top" title="Print PDF file">
                  <i class="ri ri-printer-line"></i>
                </button>
              </form>
            </div>
          </div><!-- END Download PDF file -->
          <div class="row">
            <div class="col-lg-3 col-md-4 label">Check-in Date</div>
            <div class="col-lg-9 col-md-8"
                 th:text="${visit.showCheckInDate() + ' ' + visit.showCheckInTime()}">
              12.04.2021 12:00
            </div>
          </div>
          <div class="row"><!-- Visit Status -->
            <div class="col-lg-3 col-md-4 label">Status</div>
            <div class="col-lg-9 col-md-8">
              <span th:if="${visit.checkOut == null && visit.services.isEmpty()}"
                    class="badge bg-secondary">Not started</span>
              <span th:if="${visit.checkOut == null && !visit.services.isEmpty()}" class="badge bg-warning">In progress...</span>
              <span th:unless="${visit.checkOut == null}" class="badge bg-success">Finished</span>
            </div>
          </div>
          <!--     Add Service    -->
          <form th:if="${isEmployee && visit.checkOut==null}" th:object="${service}"
                th:action="@{__${#httpServletRequest.requestURI}__}" method="post">
            <div class="row xl-12" style="display: table">
              <div class="col-sm-9" style="display: table-cell">
                <input list="car_services" name="selectedService" th:field="*{name}" class="col-sm-12">
                <datalist id="car_services">
                  <option th:each="service : ${carServices}"
                          th:value="${service.name}"
                          th:data="${service.name}"
                          th:text="${service.name}">The answer
                  </option>
                </datalist>
              </div>
              <br>
              <div style="display: table-cell">
                <div class="col-sm-12">
                  <button type="submit" class="btn btn-outline-warning" value="save">Add Service</button>
                </div>
              </div>
            </div>
          </form>
          <div class="row">
            <div class="col-lg-3 col-md-4 label ">Licence Plate</div>
            <div class="col-lg-9 col-md-8"
                 th:text="${visit.car.licensePlate}">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-4 label">Brand & Model</div>
            <div class="col-lg-9 col-md-8" th:text="${visit.car.brand.name+' '+visit.car.carModel.name}">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-4 label">Production Year</div>
            <div class="col-lg-9 col-md-8" th:text="${visit.car.year}">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-4 label">VIN</div>
            <div class="col-lg-9 col-md-8" th:text="${visit.car.vin}">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-4 label">Owner</div>
            <div class="col-lg-9 col-md-8" th:text="${visit.car.user.firstName+' '+visit.car.user.lastName}">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-4 label">Check-out Date</div>
            <div th:unless="${visit.checkOut==null}" class="col-lg-9 col-md-8"
                 th:text="${visit.showCheckOutDate() + ' ' + visit.showCheckOutTime()}">
              14.02.2021 12:00
            </div>
            <div th:if="${isEmployee && visit.checkOut==null}" class="col-lg-9 col-md-8">
              <form th:action="@{__${#httpServletRequest.requestURI}__/checkout}"
                    method="post">
                <button th:data-confirm-checkout="|You are about to ChekOut this visit! Are you sure?|"
                        onclick="if (!confirm(this.getAttribute('data-confirm-checkout'))) return false"
                        type="submit" class="btn btn-outline-primary">Check out
                </button>
              </form>
            </div>
          </div>
        </div>
        <div th:if="${isEmployee && visit.checkOut==null}" class="row">
          <form th:action="@{__${#httpServletRequest.requestURI}__/delete}"
                method="post">
            <button th:data-confirm-delete="|You are about to Delete this visit! Are you sure?|"
                    onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false"
                    type="submit" class="btn btn-outline-danger">Delete
            </button>
          </form>
        </div>
        <br>
        <!-- List group with all Services performed over current Visit -->
        <ol class="list-group list-group-numbered">
          <li class="list-group-item d-flex justify-content-between align-items-start"
              th:each="service : ${visit.services}">
            <div class="ms-2 me-auto">
              <div class="fw-bold" th:text="${service.name}">Service</div>
            </div>
            <span th:if="${exchangeRate == null}" class="badge bg-light text-black"
                  th:text="${#numbers.formatDecimal(service.price,1,2) + ' ' + 'BGN'}">Price</span>
            <span th:unless="${exchangeRate == null}" class="badge bg-light text-black"
                  th:with="result=${service.price * exchangeRate}"
                  th:text="${#numbers.formatDecimal(result,1,2)}+' '+${currency}">Price</span>
            <form th:if="${isEmployee && visit.checkOut==null}"
                  th:action="@{__${#httpServletRequest.requestURI}__/remove-service/{serviceId}(serviceId=${service.carServiceId})}"
                  method="post">
              <button type="submit" class="btn btn-outline-danger btn-sm" style="padding: .0rem .25rem">Remove
              </button>
            </form>
          </li>
        </ol><!-- End List -->
        <br>
        <form th:unless="${visit.checkOut == null}"
              th:action="@{/visits/{visitId}/currency(visitId=${visit.visitId})}" method="post">
          <div class="ms-2 float-end">
            <select name="currency" onchange="this.form.submit()" class="form-select" id="currency">
              <option th:disabled="disabled" selected="selected" value="Change currency">
                Change currency
              </option>
              <option th:each="currency : ${currencies}"
                      th:value="${currency}"
                      th:text="${currency}">BGN
              </option>
            </select>
          </div>
        </form>
        <br>
        <div th:if="${exchangeRate == null}" class="list-group col-lg-12 col-md-8 text-end"
             th:text="${#numbers.formatDecimal(visit.getTotalPrice(),1,2) + ' ' + 'BGN'}"></div>
        <div th:unless="${exchangeRate == null}" class="list-group col-lg-12 col-md-8 text-end"
             th:with="result=${visit.getTotalPrice() * exchangeRate}"
             th:text="${#numbers.formatDecimal(result,1,2) + ' ' + currency}"></div>
        <br>
      </div>
    </div>
  </section>


</main><!-- End #main -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="../../static/vendor/apexcharts/apexcharts.min.js"
        th:src="@{/vendor/apexcharts/apexcharts.min.js}"></script>
<script src="../../static/vendor/bootstrap/js/bootstrap.bundle.min.js"
        th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script src="../../static/vendor/chart.js/chart.min.js" th:src="@{/vendor/chart.js/chart.min.js}"></script>
<script src="../../static/vendor/echarts/echarts.min.js" th:src="@{/vendor/echarts/echarts.min.js}"></script>
<script src="../../static/vendor/quill/quill.min.js" th:src="@{/vendor/quill/quill.min.js}"></script>
<script src="../../static/vendor/simple-datatables/simple-datatables.js"
        th:src="@{/vendor/simple-datatables/simple-datatables.js}"></script>
<script src="../../static/vendor/tinymce/tinymce.min.js" th:src="@{/vendor/tinymce/tinymce.min.js}"></script>
<script src="../../static/vendor/php-email-form/validate.js" th:src="@{/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script src="../../static/js/main.js" th:src="@{../js/main.js}"></script>


</body>
</html>