<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Pit Stop Car Service</title>
</head>

<!-- Favicons -->
<link href="../static/img/favicon.png" th:href="@{/img/favicon.png}" rel="icon">
<link href="../static/img/apple-touch-icon.png" th:href="@{/img/apple-touch-icon.png}" rel="apple-touch-icon">

<!-- Google Fonts -->
<link href="https://fonts.gstatic.com" rel="preconnect">
<link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="../static/vendor/bootstrap/css/bootstrap.min.css"
      th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<link href="../static/vendor/bootstrap-icons/bootstrap-icons.css"
      th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
<link href="../static/vendor/boxicons/css/boxicons.min.css" th:href="@{/vendor/boxicons/css/boxicons.min.css}"
      rel="stylesheet">
<link href="../static/vendor/quill/quill.snow.css" th:href="@{/vendor/quill/quill.snow.css}" rel="stylesheet">
<link href="../static/vendor/quill/quill.bubble.css" th:href="@{/vendor/quill/quill.bubble.css}"
      rel="stylesheet">
<link href="../static/vendor/remixicon/remixicon.css" th:href="@{/vendor/remixicon/remixicon.css}"
      rel="stylesheet">
<link href="../static/vendor/simple-datatables/style.css" th:href="@{/vendor/simple-datatables/style.css}"
      rel="stylesheet">

<!-- Template Main CSS File -->
<link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">

<body>

<form th:replace="fragments/navbar.html :: navbar"></form>

<form th:replace="fragments/navbar.html :: sidebar"></form>

<main id="main" class="main">

  <div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <!-- Visits Section -->
  <div class="col-12">
    <div class="card recent-sales overflow-auto">

      <div class="card-body">
        <br>
        <div th:unless="${#httpServletRequest.getParameter('success') == null}"
             class="alert alert-success alert-dismissible fade show" role="alert">
          <i class="bi bi-check-circle me-1" th:text="${' ' + #httpServletRequest.getParameter('success')}"></i>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div><!-- Success -->
        <div th:unless="${#httpServletRequest.getParameter('error') == null}"
             class="alert alert-danger alert-dismissible fade show" role="alert">
          <i class="bi bi-check-circle me-1" th:text="${' ' + #httpServletRequest.getParameter('error')}"></i>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div><!-- Error -->
        <h5 th:if="${isCustomer}" class="card-title">Visits <span>| Cars | </span><span
            th:text="${loggedInUser.firstName + ' ' + loggedInUser.lastName}">Jacob Hansen</span></h5>
        <table th:if="${isCustomer}" class="table datatable">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Licence Plate</th>
            <th scope="col">Brand & Model</th>
            <th scope="col">Check-in Date</th>
            <th scope="col">Status</th>
            <th scope="col">Total</th>
            <th scope="col">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="visit:${loggedInUser.visits}">
            <th scope="row"><a class="text-primary"
                               th:href="@{/visits/{visitId}(visitId=${visit.visitId})}"
                               th:text="${visitStat.count}">1</a></th>
            <td th:text="${visit.car.licensePlate}">CK5555LK</td>
            <td th:text="${visit.car.brand + ' ' + visit.car.carModel}">BMW X3</td>
            <td th:text="${visit.showCheckInDate()}">22.04.2021</td>
            <td th:if="${visit.checkOut == null && visit.services.isEmpty()}"><span class="badge bg-secondary">Not started</span></td>
            <td th:if="${visit.checkOut == null && !visit.services.isEmpty()}"><span class="badge bg-warning">In progress..</span></td>
            <td th:unless="${visit.checkOut == null}"><span class="badge bg-success">Finished</span></td>
            <td th:text="${visit.getTotalPrice() + ' ' + 'BGN'}">250BGN</td>
            <td>
              <form th:unless="${visit.checkOut == null}"
                    th:action="@{/visits/{visitId}/email/pdf(visitId=${visit.visitId})}" method="post">
                <input name="visits" class="visually-hidden" type="text" value="visits">
                <button class="btn btn-outline-success" type="submit"><i class="ri ri-mail-send-line"></i></button>
              </form>
            </td>
          </tr>
          </tbody>
        </table>
        <h5 th:if="${isEmployee}" class="card-title">All Visits <span>| Cars</span></h5>
        <table th:if="${isEmployee}" class="table datatable">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Licence Plate</th>
            <th scope="col">Brand & Model</th>
            <th scope="col">Check-in Date</th>
            <th scope="col">Status</th>
            <th scope="col">Total</th>
            <th scope="col">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="visit:${visits}">
            <th scope="row"><a class="text-primary"
                               th:href="@{/visits/{visitId}(visitId=${visit.visitId})}"
                               th:text="${visitStat.count}">1</a></th>
            <td th:text="${visit.car.licensePlate}">CK5555LK</td>
            <td th:text="${visit.car.brand + ' ' + visit.car.carModel}">BMW X3</td>
            <td th:text="${visit.showCheckInDate()}">22.04.2021</td>
            <td th:if="${visit.checkOut == null && visit.services.isEmpty()}"><span class="badge bg-secondary">Not started</span></td>
            <td th:if="${visit.checkOut == null && !visit.services.isEmpty()}"><span class="badge bg-warning">In progress..</span></td>
            <td th:unless="${visit.checkOut == null}"><span class="badge bg-success">Finished</span></td>
            <td th:text="${visit.getTotalPrice() + ' ' + 'BGN'}">250BGN</td>
            <td>
              <form th:unless="${visit.checkOut == null}"
                    th:action="@{/visits/{visitId}/email/pdf(visitId=${visit.visitId})}" method="post">
                <input name="visits" class="visually-hidden" type="text" value="visits">
                <button class="btn btn-outline-success" type="submit"><i class="ri ri-mail-send-line"></i></button>
              </form>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main><!-- End #main -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="../static/vendor/apexcharts/apexcharts.min.js"
        th:src="@{/vendor/apexcharts/apexcharts.min.js}"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"
        th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script src="../static/vendor/chart.js/chart.min.js" th:src="@{/vendor/chart.js/chart.min.js}"></script>
<script src="../static/vendor/echarts/echarts.min.js" th:src="@{/vendor/echarts/echarts.min.js}"></script>
<script src="../static/vendor/quill/quill.min.js" th:src="@{/vendor/quill/quill.min.js}"></script>
<script src="../static/vendor/simple-datatables/simple-datatables.js"
        th:src="@{/vendor/simple-datatables/simple-datatables.js}"></script>
<script src="../static/vendor/tinymce/tinymce.min.js" th:src="@{/vendor/tinymce/tinymce.min.js}"></script>
<script src="../static/vendor/php-email-form/validate.js" th:src="@{/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script src="../static/js/main.js" th:src="@{js/main.js}"></script>

</body>
</html>