<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Create Car</title>

  <!-- Vendor CSS Files -->
  <link href="../../static/vendor/bootstrap/css/bootstrap.min.css"
        th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link href="../../static/vendor/bootstrap-icons/bootstrap-icons.css"
        th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
  <link href="../../static/vendor/boxicons/css/boxicons.min.css" th:href="@{/vendor/boxicons/css/boxicons.min.css}"
        rel="stylesheet">
  <link href="../../static/vendor/quill/quill.snow.css" th:href="@{/vendor/quill/quill.snow.css}" rel="stylesheet">
  <link href="../../static/vendor/quill/quill.bubble.css" th:href="@{/vendor/quill/quill.bubble.css}"
        rel="stylesheet">
  <link href="../../static/vendor/remixicon/remixicon.css" th:href="@{/vendor/remixicon/remixicon.css}"
        rel="stylesheet">
  <link href="../../static/vendor/simple-datatables/style.css" th:href="@{/vendor/simple-datatables/style.css}"
        rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../static/css/style.css" th:href="@{../css/style.css}" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
          integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
          crossorigin="anonymous">
  </script>
  <script>
      $(document).ready(function () {
          $("#brand").change(function () {
              sendAjaxRequest();
          });
      });

      function sendAjaxRequest() {
          var brand = $("#brand").val();
          $.get("/cars/models?brand=" + brand, function (data) {
              $("#model").empty();
              data.forEach(function (item) {
                  var option = "<option value = " + item + ">" + item + "</option>";
                  $("#model").append(option);
              });
          });
      }
  </script>

</head>
<body>

<form th:replace="fragments/navbar.html :: navbar"></form>

<form th:replace="fragments/navbar.html :: sidebar"></form>

<main id="main" class="main">

  <div class="pagetitle">
    <h1>Car create</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item"><a th:href="@{/cars}">Cars</a></li>
        <li class="breadcrumb-item"><a th:href="@{/cars/create}">Car create</a></li>
      </ol>
    </nav>
  </div><!-- End Page Title -->


  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <br>
            <h1></h1>
            <!-- General Form Elements -->
            <div th:if="${error}"
                 class="alert alert-danger alert-dismissible fade show" role="alert">
              <i class="bi bi-check-circle me-1" th:text="${' ' + error}"></i>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div><!-- Success -->
            <form th:fragment="car-create" action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
                  th:object="${newCar}" method="post">

              <div class="row mb-3">
                <label for="LicencePlate" class="col-sm-2 col-form-label">Licence plate</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control" id="LicencePlate" th:field="*{licensePlate}"
                         placeholder="JK1234KJ">
                </div>
              </div>
              <label class="alert alert-danger" th:errors="*{licensePlate}">Licence plate error placeholder</label>
              <br>
              <div class="row mb-3">
                <label for="VIN" class="col-sm-2 col-form-label">VIN</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control" id="VIN" th:field="*{vin}"
                         placeholder="WDBRF40J43F433102">
                </div>
              </div>
              <label class="alert alert-danger" th:errors="*{vin}">VIN error placeholder</label>
              <br>
              <div class="row mb-3">
                <label for="Year" class="col-sm-2 col-form-label">Year</label>
                <div class="col-sm-4">
                  <input type="number" min="1886" max="2099" class="form-control" id="Year"
                         th:field="*{year}"
                         placeholder="2001">
                </div>
              </div>
              <label class="alert alert-danger" th:errors="*{year}">Year error placeholder</label>
              <br>
              <br>


              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Brand</label>
                <div class="col-sm-4">
                  <select name="brandName" class="form-control" id="brand">
                    <option th:disabled="disabled" selected="selected" value="-- select brand --">-- select brand --</option>
                    <option th:each="brand : ${brands}"
                            th:value="${brand.name}"
                            th:text="${brand.name}">Brand
                    </option>
                  </select>
                </div>
                <br>
              </div>
              <label class="alert alert-danger" th:errors="*{brandName}">Brand error placeholder</label>


              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Model</label>
                <div class="col-sm-4">
                  <select name="modelName" class="form-control" id="model">
                  </select>
                </div>
                <br>
              </div>
              <label class="alert alert-danger" th:errors="*{modelName}">Model error placeholder</label>


              <div th:if="${newCar.userName == null || newCar.userName.isEmpty()}" class="row mb-3">
                <label class="col-sm-2 col-form-label">Owner</label>
                <div class="col-sm-4">
                  <select class="form-select" aria-label="Default select example"
                          name="userName">
                    <option th:disabled="disabled" selected="selected" value="-- select user --">-- select user --</option>
                    <option th:each="customer : ${customers}"
                            th:value="${customer.userName}"
                            th:text="${customer.userName}">Owner
                    </option>
                  </select>
                </div>
              </div>
              <label class="alert alert-danger" th:errors="*{userName}">Owner error placeholder</label>

              <div th:unless="${newCar.userName == null || newCar.userName.isEmpty()}" class="row mb-3">
                <label class="col-sm-2 col-form-label">Owner</label>
                <div class="col-sm-4">
                  <p th:text="${newCar.userName}">Jacob Jensen</p>
                  <input class="visually-hidden" th:field="*{userName}">
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-10">
                  <button type="submit" class="btn btn-primary" value="Save">Create Car</button>
                </div>
              </div>
            </form><!-- End General Form Elements -->
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="../../static/vendor/apexcharts/apexcharts.min.js"
        th:src="@{/vendor/apexcharts/apexcharts.min.js}"></script>
<script src="../../static/vendor/bootstrap/js/bootstrap.bundle.min.js"
        th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script src="../../static/vendor/chart.js/chart.min.js" th:src="@{/vendor/chart.js/chart.min.js}"></script>
<script src="../../static/vendor/echarts/echarts.min.js" th:src="@{/vendor/echarts/echarts.min.js}"></script>
<script src="../../static/vendor/quill/quill.min.js" th:src="@{/vendor/quill/quill.min.js}"></script>
<script src="../../static/vendor/simple-datatables/simple-datatables.js"
        th:src="@{/vendor/simple-datatables/simple-datatables.js}"></script>
<script src="../../static/vendor/tinymce/tinymce.min.js" th:src="@{/vendor/tinymce/tinymce.min.js}"></script>
<script src="../../static/vendor/php-email-form/validate.js" th:src="@{/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script src="../../static/js/main.js" th:src="@{../js/main.js}"></script>

</body>
</html>