<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<h1 class="alert alert-danger" th:text="${message}">error</h1>
<a th:href="@{/employee/register}"
   th:text="#{label.form.loginSignUp}">signup</a>
</body>
</html>